@model Module6Tp1Dojo.Models.SamouraiViewModel

@{
    ViewBag.Title = "_Details";
}

<h4>Samourai</h4>
<hr />
<dl class="dl-horizontal">

    <dt>
        @Html.DisplayNameFor(model => model.Samourai.Nom)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Samourai.Nom)
    </dd>


    <dt>
        @Html.DisplayNameFor(model => model.Samourai.Force)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Samourai.Force)
    </dd>


    <dt>
        @Html.DisplayNameFor(model => model.Samourai.Arme)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Samourai.Arme.Nom)
    </dd>


    <dt>
        @Html.DisplayNameFor(model => model.Samourai.ArtMartiaux)
    </dt>

    <dd>
        @foreach (var am in Model.Samourai.ArtMartiaux)
        {
            @Html.DisplayFor(modelItem => am.Nom) <br />
        }
    </dd>


    <dt>
        Potentiel
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Potentiel)
    </dd>
</dl>

